[Unit]
Description=Deb-o-Matic Node.js Proxy

[Service]
Type=simple
EnvironmentFile=/home/debomatic/debomatic-webui/systemd.env
ExecStart=/usr/bin/nodejs ${DJSPROXY_HOME}/proxy.js 2>&1 > ${DJS_HOME}webui.log
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure

[Install]
Requires=debomatic-nodejs@amd64.service
Requires=debomatic-nodejs@i386.service
WantedBy=multi-user.target
