[Unit]
Description=Deb-o-Matic Node.js

[Service]
Type=simple
EnvironmentFile=/home/debomatic/debomatic-webui/systemd.env
ExecStartPre=/bin/ln -fs ${DJS_HOME}/%i.config.js ${DJS_HOME}/user.config.js
ExecStart=/usr/bin/nodejs ${DJS_HOME}/index.js 2>&1 > ${DJS_HOME}/webui-amd64.log
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
